{% assign issues_repo = site.issues_repo %}
{% assign issue_id = include.issue_id %}

<section id="comments">
  <div class="comment-actions">
    <h2>Comments <span id="comments-count"></span></h2>
    <h4>
      <a class="button" href="https://github.com/{{ issues_repo }}/issues/{{ issue_id }}" target="_blank">
        Post a comment on GitHub
      </a>
    </h4>
  </div>
  <div id="comments-wrapper">
    Loading comments...
  </div>
</section>

<!-- Script Section -->
<script>
  const commentsSection = document.getElementById('comments');
  const commentsWrapper = commentsSection.querySelector('#comments-wrapper');
  const commentsCount = commentsSection.querySelector('#comments-count');

  const commentScripts = [
    'https://unpkg.com/marked@0.3.6/marked.min.js',
    'https://unpkg.com/dompurify@1.0.8/dist/purify.min.js',
    'https://unpkg.com/dayjs@1.7.8/plugin/relativeTime.js',
  ];

  /* This gets called when the viewport intersects with the comments section */
  const initRenderComments = async (comments) => {
    if (!comments.length) {
      commentsWrapper.innerHTML = `<p>No comments yet</p>`;
      return;
    }

    /* Load all script dependencies async */
    await Promise.all(commentScripts.map((script) => loadScript(script)));
    renderComments(comments);
  }

  const renderComments = (comments) => {
    const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    /* Load the relativeTime plugin for dayjs so we can express dates relative to now */
    commentsCount.innerText = `(${comments.length})`;

    const commentsList = document.createElement('ol');
    commentsList.className = 'comments-list';
    commentsList.setAttribute('aria-label', 'Comments on this blog post');

    commentsList.innerHTML = comments
      .sort((comment1, comment2) => {
        return comment1.created_at < comment2.created_at ? 1 : -1;
      })
      .map(comment => {
        const user = comment.user;
        const body = DOMPurify.sanitize(marked(comment.body));
        const postedByAuthor = comment.author_association === 'OWNER';
        const edited = comment.created_at !== comment.updated_at;

        return `<li class="comment">
                    <div class="commenter">
                      <div>
                        <img src="${user.avatar_url}" alt="" aria-hidden="true" class="meta avatar" width="5%" height="5%"/>
                        <a href="${user.html_url}" class="meta username">
                          ${user.login}
                        </a>
                        ${postedByAuthor ? '<i><span class="meta tag author-badge">(Author)</span></i>' : ''}
                        ${edited ? `<i><span class="meta comment-edited">(Edited)</span></i>` : ''}
                        <i>
                          - Posted,
                          <time datetime="${comment.created_at}">
                            ${new Date(comment.created_at).getDate()+' '+months[new Date(comment.created_at).getMonth()]+' '+new Date(comment.created_at).getFullYear()}
                         </time>
                        </i>
                      </div>  
                    </div>
                    <div class="comment-body">${body}</div>
                </li>`;
      })
      .join('');

    commentsWrapper.innerHTML = '';
    commentsWrapper.appendChild(commentsList);
  }

  const loadScript = (src) => {
    const scriptElement = document.createElement('script');
    document.body.appendChild(scriptElement);

    return new Promise((resolve) => {
      scriptElement.onload = resolve;

      // Important to register onload before setting src
      scriptElement.src = src;
    });
  }

  const fetchComments = async () => {
    try {
      const comments = await (await fetch(
        'https://api.github.com/repos/{{ issues_repo }}/issues/{{ issue_id }}/comments'
      )).json();
      initRenderComments(comments);
    } catch (e) {
      commentsWrapper.innerHTML = `<p>Unable to retrieve comments.</p>`;
    }
  }

  const commentsObserver = new IntersectionObserver((entries, self) => {   
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        fetchComments();
        self.unobserve(entry.target);
      }
      });
    }, 
    { 
      rootMargin: '200px 0px 0px 0px' 
    }
  );

  commentsObserver.observe(commentsSection); 
</script>
